{% extends 'base.html.twig' %}

{% block title %} {{ title }} Committee | {{ parent() }} {% endblock %}

{% block body %}
    {{ parent() }}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>{{ title }} Committee</h1>
            </div>
        </div>
    </div>
{% endblock %}
