{% extends 'base.html.twig' %}

{% block title %} {{ title }} Notice | {{ parent() }} {% endblock %}

{% block body %}
  {{ parent() }}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1><span>{{ title }} Notice</h1>
      </div>
    </div>
  </div>
{% endblock %}
